.tooltip {
    position: absolute;
    display: inline-block;
     width: 160px;
}


.mojH1 {color: red}
#teamA { width: 200px}
#teamB { width: 200px}
#proba{
	padding: 1px 1px;
	font-size: 11px;
	line-height: 12px;
	width: 30px;
}

#proba1{
	padding: 1px 1px;
	font-size: 11px;
	line-height: 12px;
	width: 30px;
	color: black;
	background-color: #ffff00;
}


#mytable >tbody>tr>td{
  height:15px;
  padding:2px;
   text-align: center;
}

#mytable >thead>tr>th{
  height:15px;
  padding:1px 1px;
  text-align: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}