<div ng-controller="playersCtrl">

	<br />
		<table>
	<form>
		<tr>
		<td>
		<div class="form-group">
			<label for="teamA">Team Host</label> <select
				ng-model="teamAid" class="form-control" id="teamA">
				<option ng-repeat="t in teams" value="{{t.id}}">{{t.name}}</option>
			</select>
		</div>
		
		<button ng-click="addHost(t.id)" type="button" class="btn btn-primary">Add Host</button>
		</td>
		<td>
		<div class="form-group">
			<label for="teamBid">Team Guest</label> <select
				ng-model="teamBid" class="form-control" id="teamB">
				<option ng-repeat="t in teams" value="{{t.id}}">{{t.name}}</option>
			</select>
		</div>
		<button ng-click="addGuest(t.id)" type="button" class="btn btn-primary">Add Guest</button>
		</td>
		</tr>
	</form>
</table>

	<br />

	<br /> 
	Team A
<table id="mytable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>No.</th>
				<th>Name</th>
				<th>Poeni</th>
				<th>Position</th>
				<th>1Shot</th><th>1Score</th><th>2Shot</th><th>2Score</th><th>3Shot</th><th>3Score</th>
				<th>Assists</th><th>OReb</th><th>DReb</th><th>Faul</th><th>TO</th><th>Steal</th><th>Block</th>
			</tr>
		</thead>
		<tbody>
			<tr style ="height:10px" ng-repeat="p in teamA">
				<td>{{p.number}}</td>
				<td data-toggle="tooltip" data-html="true" title="{{p.name}} <br /> 
1p {{p.onePointShoot}}/{{p.onePointScore}} 2p {{p.twoPointShoot}}/{{p.twoPointScore}} 3p {{p.threePointShoot}}/{{p.threePointScore}} <br /> 
skokovi {{p.skokTotal}} asistencije {{p.assists}} izgubljene {{p.turnOver}} osvojene {{p.steal}} rampe {{p.block}}" >{{p.name}}</td>
				<td>{{p.poeniTotal}}</td>
				<td>{{p.positionId}}</td>
				<td><button id="proba"  ng-click="point1Shot(p.id)" class="btn btn-danger" ng-disabled="p.out == true">1s</button></td>
				<td><button id="proba"  ng-click="point1Score(p.id)" class="btn btn-success" ng-disabled="p.out == true">1sc</button></td>
				<td><button id="proba"  ng-click="point2Shot(p.id)" class="btn btn-danger" ng-disabled="p.out == true">2s</button></td>
				<td><button id="proba"  ng-click="point2Score(p.id)" class="btn btn-success" ng-disabled="p.out == true">2sc</button></td>
				<td><button id="proba"  ng-click="point3Shot(p.id)" class="btn btn-danger" ng-disabled="p.out == true">3s</button></td>
				<td><button id="proba"  ng-click="point3Score(p.id)" class="btn btn-success" ng-disabled="p.out == true">3sc</button></td>
				<td><button id="proba"  ng-click="addAssists(p.id)" class="btn btn-primary" ng-disabled="p.out == true">A</button></td>
				<td><button id="proba"  ng-click="addOReb(p.id)" title="{{p.offRebound}}" class="btn btn-basic" ng-disabled="p.out == true"> OR</button></td>
				<td><button id="proba"  ng-click="addDReb(p.id)" title="{{p.defRebound}}" class="btn btn-default" ng-disabled="p.out == true">DR</button></td>
				<td><button id="proba"  ng-click="addFaul(p.id)" class="btn btn-danger" ng-disabled="p.out == true">F</button></td>
				<td><button id="proba"  ng-click="addTO(p.id)" class="btn btn-warning" ng-disabled="p.out == true">TO</button></td>
				<td><button id="proba"  ng-click="addSteal(p.id)" class="btn btn-info" ng-disabled="p.out == true">S</button></td>
				<td><button id="proba1"  ng-click="addBlock(p.id)" class="btn btn-info" ng-disabled="p.out == true">B</button></td>
				
			</tr>
		</tbody>
	</table>
	
		<br />
	Team B
	<table id="mytable" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>No.</th>
				<th>Name</th>
				<th>Poeni</th>
				<th>Position</th>
				<th>1Shot</th><th>1Score</th><th>2Shot</th><th>2Score</th><th>3Shot</th><th>3Score</th>
				<th>Assists</th><th>OReb</th><th>DReb</th><th>Faul</th><th>TO</th><th>Steal</th><th>Block</th>
			</tr>
		</thead>
		<tbody>
			<tr style ="height:10px" ng-repeat="p in teamB">
				<td>{{p.number}}</td>
				<td data-toggle="tooltip" data-html="true" title="{{p.name}} <br /> 
1p {{p.onePointShoot}}/{{p.onePointScore}} 2p {{p.twoPointShoot}}/{{p.twoPointScore}} 3p {{p.threePointShoot}}/{{p.threePointScore}} <br /> 
skokovi {{p.skokTotal}} asistencije {{p.assists}} izgubljene {{p.turnOver}} osvojene {{p.steal}} rampe {{p.block}}" >{{p.name}}</td>
				<td>{{p.poeniTotal}}</td>
				<td>{{p.positionId}}</td>
				<td><button id="proba"  ng-click="point1Shot(p.id)" class="btn btn-danger" ng-disabled="p.out == true">1s</button></td>
				<td><button id="proba"  ng-click="point1Score(p.id)" class="btn btn-success" ng-disabled="p.out == true">1sc</button></td>
				<td><button id="proba"  ng-click="point2Shot(p.id)" class="btn btn-danger" ng-disabled="p.out == true">2s</button></td>
				<td><button id="proba"  ng-click="point2Score(p.id)" class="btn btn-success" ng-disabled="p.out == true">2sc</button></td>
				<td><button id="proba"  ng-click="point3Shot(p.id)" class="btn btn-danger" ng-disabled="p.out == true">3s</button></td>
				<td><button id="proba"  ng-click="point3Score(p.id)" class="btn btn-success" ng-disabled="p.out == true">3sc</button></td>
				<td><button id="proba"  ng-click="addAssists(p.id)" class="btn btn-primary" ng-disabled="p.out == true">A</button></td>
				<td><button id="proba"  ng-click="addOReb(p.id)" title="{{p.offRebound}}" class="btn btn-basic" ng-disabled="p.out == true"> OR</button></td>
				<td><button id="proba"  ng-click="addDReb(p.id)" title="{{p.defRebound}}" class="btn btn-default" ng-disabled="p.out == true">DR</button></td>
				<td><button id="proba"  ng-click="addFaul(p.id)" class="btn btn-danger" ng-disabled="p.out == true">F</button></td>
				<td><button id="proba"  ng-click="addTO(p.id)" class="btn btn-warning" ng-disabled="p.out == true">TO</button></td>
				<td><button id="proba"  ng-click="addSteal(p.id)" class="btn btn-info" ng-disabled="p.out == true">S</button></td>
				<td><button id="proba1"  ng-click="addBlock(p.id)" class="btn btn-info" ng-disabled="p.out == true">B</button></td>
				
			</tr>
		</tbody>
	</table>
	
	<hr>
</div>